body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}

h1{
	text-align: left;
	font-size: 26px;
	line-height: 30px;
	margin-right: 10px;
	margin-top: 30px;
	color: white;
}

h2{
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
	line-height: 22px;
}

.grid{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto 366.666px; /*Door grid-template-columns te gebruiken met een vaste pixel waarde voor de rechter kolom krijg ik het symmetrisch. ipv grid-template-areas te gebruiken, waarbij het niet lukte*/

/*	grid-gap: 5px;
	background-color: red;*/
}

.grid div{
	/*background-color: lightblue;*/
}

.logo{
	background-image: url("../img/header_bg.png");
	padding-top: 10px;
	height: 105px;
}

.nav{
	grid-column: 2 / span 2;
	background-image: url("../img/header_bg.png");
	padding-top: 45px;
}

.nav a{
	text-decoration: none;
	color: black;
	margin-left: 30px;
}

a.active{
	text-decoration: underline;
}

.banner{
	grid-column: 1 / span 2;
	background-image: url("../img/banner_bg.png");
	height: 425px;
}

.banner img{
	margin-top: 20px; 
	margin-bottom: 20px;
}

.maintext{
	background-image: url("../img/banner_bg.png");
}

.maintext p{ 
	
	margin-right: 45px;
	text-align: left;
	color: white;
}

.cont{
	padding-top: 20px;
}

.cont p{
	margin-right: 30px;
	margin-left: 30px;
	text-align: left;
}

.cont ul{
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
}

.cont a{
	text-decoration: none;
	color: black;
}

.footer{
	grid-column: 1 / span 3;
	background-image: url("../img/footer_bg.png");
	color: white;
}